<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="showFilter1" value="全部"/>
    <add key="showFilter2" value="在售"/>
    <add key="showFilter3" value="待售"/>
    <add key="showFilter4" value="已售出"/>
    <add key="showFilter5" value="未在售"/>
    <add key="discount" value="0.72"/>
    <add key="test" value="0.72"/>
  </appSettings>
</configuration>